<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <title>Teste</title>
        <meta charset="utf-8">
        <style>
            body{
                background: grey;
            }

            ul{
                list-style: none;
            }

            #Container{
                text-align: center;
                background: white;
                width: 1200px;
                margin: 0px auto;
            }
        </style>
    </head>

    <body>
        <div id="Container">
            <h1>o podrera</h1>

            {% if latest_questions_list %} 
            
            <ul>
                {% for question in latest_questions_list %} 
                <li> <a href="/polls/{{question_id}}/"> {{question.question_text}} </a></li>
                {% endfor %}
            </ul>

            {% else %}
            <p>TEM PERGUNTA NENHUMA JEGUE</p>
            {% endif %}
        </div>
    </body>

</html>