<!DOCTYPE html>

<html lang="pt-BR">

    <head>
        <title>Yuri Alberto</title>
        <meta charset="utf-8">
        <style>
            body{
                background: gray;
            }
            img,#Container{
                border-radius: 50px;
            }
            h1,img{
                padding: 20px 30px;
            }
            #Container{
                margin: 0px auto;
                background: white;
                width: 800px;
                text-align: center;
            }
        </style>
    </head>

    <body>
        <div id="Container">
            <h1>Misericordia é o {{nome}} Na seleção brasileira</h1>
            <img src={{url}} width="500px">
        </div>
    </body>

</html>